{% extends 'base.html' %}   
{% load static %}
    {% block content %}
        <div class="text-center">
            <div class="position-absolute top-50 start-50 translate-middle">
                <h2>Routine Organizer</h2>
                    <img src="{% static '/media//Filling Survey.png' %}">   
                    
                <h5>Design and organize your day <a class="text-decoration-none text-primary fw-semibold">better</a>! 
                    Distribute your daily activities <br>
                    into organized tasks with routine organizer</a>.
                </h5>

                <a href="{% url 'tasks' %}" class="text-decoration-none btn btn-dark col-3 mt-4 mb-5">Start</a>
            </div>
        </div>
    {% endblock %}